<h2>View All Lists</h2>
<%= link_to 'New List', new_user_list_path(@user) %>

<% @user.lists.each do |list| %>
  <p>
    <strong>List Title:</strong>
    <%= list.title %>
  </p>
 
  <p>
    <strong>List Description:</strong>
    <%= list.description %>
  </p>

  <%= link_to 'View', list_path(list) %> |
  <%= link_to 'Add tasks', new_list_task_path(list) %> |
  <%= link_to 'Edit', edit_list_path(list) %> |
  <%= link_to 'Destroy', list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %>
  
<% end %>